:root {
  --white: #ffffffcc;
  --cyan: #1dd3b0;
  --cyan-light: #1dd3b01a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: var(--white);
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #1c1c1f;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  background-color: #00000040;
  background-color: #151517;
  background-color: #000000dd;
  position: fixed;
  top: 0;
  transition: top 0.5s;
  z-index: 1;

  &.scrollDown {
    top: -70px;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 14rem;
    background-color: #1c1c1f;
    font-size: 1.5rem;
    font-weight: lighter;
    transition: left 0.5s;

    &::before {
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      width: 200vw;
      height: 100vh;
      background-color: transparent;
      transition: background-color 0.5s;
      z-index: -1;
      pointer-events: none;
    }

    ul {
      list-style: none;
      padding: 3.5rem 0;

      li {
        text-align: center;

        a {
          display: block;
          text-decoration: none;
          height: 100%;
          width: 100%;
          padding: 0.75rem 0;
          font-style: normal;
          // color: var(--cyan);
        }
      }
    }
  }

  &.active {
    .hamburger {
      background-image: url("../img/Close.png");
      transform: rotate(180deg);
    }

    .sidebar {
      left: 0;

      &::before {
        background-color: #000000dd;
      }
    }
  }

  .nav-brand {
    height: 4rem;
    padding: 0.5rem 0;

    img {
      height: 100%;
    }
  }

  .hamburger {
    width: 26px;
    height: 26px;
    background-image: url("../img/Ham.png");
    background-repeat: no-repeat;
    transition: transform 0.5s;
    z-index: inherit;
  }
}

main {
  display: grid;
  // grid-row-gap: 1rem;
  margin: calc(2rem + 40px) auto auto;
}

.container {
  margin: 0.5rem;
  padding: 1rem;
  background-color: #00000040;
  background-color: #00000080;
  border-radius: 0.25rem;
  text-align: center;
  .container:first-child {
    height: 50%;
  }

  > .title {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5rem;
    overflow: hidden;

    span {
      position: relative;

      &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: calc(100% + 5px);
        background-color: var(--cyan);
        width: 50vw;
        height: 2px;
      }
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        right: calc(100% + 5px);
        background-color: var(--cyan);
        width: 50vw;
        height: 2px;
      }
    }
  }
}

.hero {
  text-align: center;

  .top {
    display: none;
    text-align: left;
  }
  .main {
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    border: 1px solid var(--cyan);
    border-radius: 0.25rem;
    text-shadow: 1px 1px var(--cyan-light), 2px 2px var(--cyan-light),
      3px 3px var(--cyan-light), 4px 4px var(--cyan-light),
      10px 10px 5px var(--cyan-light);

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 4rem;
    }
  }
  .bottom {
    display: none;
    text-align: center;
    font-size: 0.7rem;
  }
  .btn {
    display: none;
  }
}

.showcase {
  border: 1px solid var(--cyan);
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;

  .counter {
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 1px 1px var(--cyan-light), 2px 2px var(--cyan-light),
      3px 3px var(--cyan-light), 4px 4px var(--cyan-light),
      10px 10px 5px var(--cyan-light);

    @media screen and (min-width: 768px) {
      font-size: 7rem;
    }
  }
  .desc {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px var(--cyan-light), 2px 2px var(--cyan-light),
      5px 5px 3px var(--cyan-light);

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.content.showcases {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;

    .counter {
      font-size: 5rem;
    }
    .desc {
      font-size: 1.2rem;
    }
  }
}

.card {
  border: 1px solid var(--cyan);
  border-radius: 0.25rem;
  overflow: hidden;

  img {
    width: 100%;
  }
  .title {
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    font-weight: 400;
    font-style: normal;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

.content.cards {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    margin-bottom: 1rem;

    .card:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--cyan);
  border-radius: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--cyan);
  transition: 0.2s;

  &:focus,
  &:hover {
    background-color: var(--cyan-light);
  }
}

footer {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  height: 50px;
  width: 100%;

  text-align: center;
  .attribution {
    font-style: normal;
  }
}
