:root {
  --white: #ffffffcc;
  --cyan: #1dd3b0;
  --cyan-light: #1dd3b01a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Rubik, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: var(--white);
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #1c1c1f;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 5%;
  background-color: #00000040;
  background-color: #151517;
  background-color: #000000dd;
  position: fixed;
  top: 0;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  z-index: 1;
}

nav.scrollDown {
  top: -70px;
}

nav .sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 14rem;
  background-color: #1c1c1f;
  font-size: 1.5rem;
  font-weight: lighter;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

nav .sidebar::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  z-index: -1;
  pointer-events: none;
}

nav .sidebar ul {
  list-style: none;
  padding: 3.5rem 0;
}

nav .sidebar ul li {
  text-align: center;
}

nav .sidebar ul li a {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 0.75rem 0;
  font-style: normal;
}

nav.active .hamburger {
  background-image: url("../img/Close.png");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav.active .sidebar {
  left: 0;
}

nav.active .sidebar::before {
  background-color: #000000dd;
}

nav .nav-brand {
  height: 4rem;
  padding: 0.5rem 0;
}

nav .nav-brand img {
  height: 100%;
}

nav .hamburger {
  width: 26px;
  height: 26px;
  background-image: url("../img/Ham.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: inherit;
}

main {
  display: -ms-grid;
  display: grid;
  margin: calc(2rem + 40px) auto auto;
}

.container {
  margin: 0.5rem;
  padding: 1rem;
  background-color: #00000040;
  background-color: #00000080;
  border-radius: 0.25rem;
  text-align: center;
}

.container > .title {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.container > .title span {
  position: relative;
}

.container > .title span:before {
  position: absolute;
  content: "";
  top: 50%;
  left: calc(100% + 5px);
  background-color: var(--cyan);
  width: 50vw;
  height: 2px;
}

.container > .title span:after {
  position: absolute;
  content: "";
  top: 50%;
  right: calc(100% + 5px);
  background-color: var(--cyan);
  width: 50vw;
  height: 2px;
}

.hero {
  text-align: center;
}

.hero .top {
  display: none;
  text-align: left;
}

.hero .main {
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  border: 1px solid var(--cyan);
  border-radius: 0.25rem;
}

.hero .bottom {
  display: none;
  text-align: center;
  font-size: 0.7rem;
}

.hero .btn {
  display: none;
}

.showcase {
  border: 1px solid var(--cyan);
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

.showcase .counter {
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 1px 1px var(--cyan-light), 2px 2px var(--cyan-light), 3px 3px var(--cyan-light), 4px 4px var(--cyan-light), 10px 10px 5px var(--cyan-light);
}

.showcase .desc {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 1px 1px var(--cyan-light), 2px 2px var(--cyan-light), 5px 5px 3px var(--cyan-light);
}

.card {
  border: 1px solid var(--cyan);
  border-radius: 0.25rem;
  margin-top: 1rem;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card .title {
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  font-weight: 400;
  font-style: normal;
}

.card:last-child {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--cyan);
  border-radius: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--cyan);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:focus, .btn:hover {
  background-color: var(--cyan-light);
}

footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111111;
  height: 50px;
  width: 100%;
  text-align: center;
}

footer .attribution {
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */