:root {
  --white: rgba(255, 255, 255, 0.85);
  --cyan: rgba(29, 211, 176, 0.85);
  --cyan-light: rgba(29, 211, 176, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Rubik, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: var(--white);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #1c1c1c;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 5%;
  background-color: #00000040;
  position: fixed;
  top: 0;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  z-index: 1;
}

nav.scrollDown {
  top: -70px;
}

nav .sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 14rem;
  background-color: #1c1c1c;
  font-size: 1.5rem;
  font-weight: lighter;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

nav .sidebar::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  z-index: -1;
}

nav .sidebar ul {
  list-style: none;
  padding: 3.5rem 0;
}

nav .sidebar ul li {
  text-align: center;
}

nav .sidebar ul li a {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 0.75rem 0;
  font-style: normal;
}

nav.active .hamburger {
  background-image: url("/img/close.png");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav.active .sidebar {
  left: 0;
}

nav.active .sidebar::before {
  background-color: #000000dd;
}

nav .nav-brand {
  height: 4rem;
  padding: 0.5rem 0;
}

nav .nav-brand img {
  height: 100%;
}

nav .hamburger {
  width: 26px;
  height: 26px;
  background-image: url("/img/ham.png");
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: inherit;
}

main {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
  margin: calc(2rem + 50px) auto;
}

main .container {
  margin: auto;
  display: -ms-grid;
  display: grid;
  padding: 2rem 1rem 2rem;
  width: 90%;
  height: 100%;
  background-color: #00000040;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
}

main .container:not(.hero) {
  justify-items: center;
}

main .container.hero .top span {
  position: relative;
  overflow: hidden;
}

main .container.hero .top span::after {
  position: absolute;
  content: " ";
  border-top: 2px solid var(--cyan);
  width: 100%;
  top: calc(50% - 1px);
  left: calc(100% + 0.5rem);
}

main .container.hero .main {
  margin: 0.5rem 0 0.5rem;
  font-size: 2rem;
  text-align: center;
}

main .container.hero .bottom {
  margin-bottom: 2rem;
  font-weight: initial;
  font-size: 0.95rem;
  text-align: right;
}

main .container.hero .bottom span {
  position: relative;
}

main .container.hero .bottom span::after {
  position: absolute;
  content: " ";
  border-top: 2px solid var(--cyan);
  width: 100%;
  top: calc(50% - 1px);
  right: calc(100% + 0.5rem);
}

main .container .title {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 4rem;
  overflow: hidden;
  width: 100%;
}

main .container .title span {
  position: relative;
}

main .container .title span::before, main .container .title span::after {
  position: absolute;
  content: " ";
  border-top: 2px solid var(--cyan);
  width: 200%;
  top: calc(50% - 1px);
}

main .container .title span::before {
  right: calc(100% + 0.5rem);
}

main .container .title span::after {
  left: calc(100% + 0.5rem);
}

main .container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 5rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.card {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
  width: 100%;
  font-weight: initial;
}

.card.showcase {
  text-align: center;
}

.card.showcase .counter {
  font-weight: bold;
  font-size: 5rem;
  line-height: 4.5rem;
}

button,
.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--cyan);
  border: 2px solid var(--cyan);
  background-color: transparent;
  font-size: 0.85rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: initial;
  font-style: initial;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
}

button.center,
.btn.center {
  margin: auto;
}

button.left,
.btn.left {
  margin-left: 0;
}

button.right,
.btn.right {
  margin-right: 0;
}

button:hover,
.btn:hover {
  background-color: var(--cyan-light);
}
/*# sourceMappingURL=style.css.map */